<nav class="header-wrapper">
  <div class="nav-header">
    <a href="/" class="siteName">CSE Motors</a>
  </div>

  <div class="account-controls">
    <% if (typeof loggedIn==='undefined' ) { %>
      <span class="account-link">Loading...</span>
      <% } else if (loggedIn) { %>
        <a title="View your account" href="/account/" class="account-link">My Account</a>
        <% } else { %>
          <a title="Click to log in" href="/account/login" class="account-link">Login</a>
          <% } %>
  </div>

  <%- include('partials/nav') %>
</nav>