<% // Navigation items array - you can modify these links as needed const navItems=[ { href: '/' , text: 'Home' }, {
  href: '/inv/type/coupe' , text: 'Coupe' }, { href: '/inv/type/sedan' , text: 'Sedan' }, { href: '/inv/type/sport' ,
  text: 'Sport' }, { href: '/inv/type/suv' , text: 'SUV' }, { href: '/inv/type/truck' , text: 'Truck' } ]; %>

  <% navItems.forEach(item=> { %>
    <li><a href="<%= item.href %>" title="<%= item.text %>">
        <%= item.text %>
      </a></li>
    <% }); %>