<li><a href="/" title="Home">Home</a></li>
<li><a href="/inv/type/coupe" title="Coupe">Coupe</a></li>
<li><a href="/inv/type/sedan" title="Sedan">Sedan</a></li>
<li><a href="/inv/type/sport" title="Sport">Sport</a></li>
<li><a href="/inv/type/suv" title="SUV">SUV</a></li>
<li><a href="/inv/type/truck" title="Truck">Truck</a></li>