<div class="header-wrapper">
    <a href="/" class="siteName" title="Return to home page">CSE Motors</a>
    <a href="/account" class="account-link" title="click to log in">My Account</a>
    </div>
</div>

  <ul class="nav-center">
    <li><a href="/Home">Home</a></li>
    <li><a href="/Custom">Custom/</a></li>
    <li><a href="/Sedan">Sedan</a></li>
    <li><a href="/SUV">SUV</a></li>
    <li><a href="/Truck">Truck</a></li>
  </ul>
</nav>



