<!-- Header with Site Name and Account Link -->
<div class="header-wrapper">
  <a href="/" class="siteName" title="Return to home page">CSE Motors</a>
  <a href="/account" class="account-link" title="Click to log in">My Account</a>
</div>

<!-- Navigation - Dynamic from database -->
<nav>
  <%- nav %>
</nav>