<nav>
  <div class="nav-left">
    <a href="/" class="siteName" title="Return to home page">CSE Motors</a>
  </div>

  <ul class="nav-center">
    <li><a href="/inventory">Inventory</a></li>
    <li><a href="/upgrades">Upgrades</a></li>
    <li><a href="/reviews">Reviews</a></li>
  </ul>

  <div class="nav-right">
    <a href="/account" class="account-link" title="click to log in">My Account</a> 
  </div>
</nav>

