<!DOCTYPE html>
<html lang="en">
<%- include ('partials/head') %>
<body>
  <div class="page-container">
    <%- include('partials/header') %>
    <div%- include('partials/navigation') %>
    <main>
        <h1>Welcome to CSE Motors!</h1>
        <div class="main-wrapper">
          <div class="text-overlay">
            <p>DMC Delorean</p>
            <p>3 Cup holders</p>
            <p>Superman doors</p>
            <p>Fuzzy dice!</p>  
            <img src="/images/site/own_today.png" alt="car keys" class="car-keys"/> 
        </div>
        <img class="main-image" src="/images/vehicles/delorean-tn.png" alt="DMC Delorean" />
        </div>
        <section class="responsive-section">
          <class="heading-container">
            <div class="heading-left">
              <h2>Enter heading</h2>
              <div class="image-grid">
                <div class="image-item">
                  <img src="" alt="">
                  <p class="caption">Enter text</p>
                </div>
                <div class="image-item">
                  <img src="" alt="">
                  <p class="caption">Enter text</p>
                </div>
                <div class="image-item">
                  <img src="" alt="">
                  <p class="caption">Enter text</p>
                </div>
                <div class="image-item">
                  <img src="" alt="">
                  <p class="caption">Enter text</p>
                </div>
               </div>
              </div>
 
              <div class="heading-right">
                <h2>Enter heading</h2>
                <ul class="special-features">
                   <li></li>
                   <li></li>
                   <li></li>
                   <li></li>
                </ul>
               </div>
              </div>
            </section>
    </main>
    <%- include('partials/footer') %>
  </div>  
</body>
</html>