< class="main-wrapper">
    <h1>Welcome to CSE Motors!</h1>

    <div class="text-overlay">
        <p>DMC Delorean</p>
        <p>3 Cup holders</p>
        <p>Superman doors</p>
        <p>Fuzzy dice!</p>
        <img src="/images/site/own_today.png" alt="Promotional banner: own the Delorean today" class="own-today" />
    </div>

    <img class="main-image" src="/images/vehicles/delorean.jpg" alt="DMC Delorean" />


<section class="responsive-section">
    <div class="heading-container">
        <div class="heading-left">
            <h2>Delorean Upgrades</h2>
            <div class="image-grid">
                <div class="image-item">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitator">
                    <p class="caption">Flux Capacitator</p>
                </div>
                <div class="image-item">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
                    <p class="caption">Flame Decals</p>
                </div>
                <div class="image-item">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    <p class="caption">Bumper Stickers</p>
                </div>
                <div class="image-item">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    <p class="caption">Hub Caps</p>
                </div>
            </div>
        </div>

        <div class="heading-right">
            <h2>DMC Delorean Reviews</h2>
            <ul class="special-features">
                <li>. "So fast it's almost like traveling in time." (4/5)</li>
                <li>. "I'm feeling McFly." (4/5)</li>
                <li>. "The most futuristic guide of our day." (4.5/5)</li>
                <li>. "80's living and I love it." (5/5)</li>
            </ul>
        </div>
    </div>
 </section>
</div>
