<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
    <% } %>

        <%- nav %>

            <%- grid %>

                <% if (messages && messages.length) { %>
                    <ul class="messages">
                        <% messages.forEach(function(msg) { %>
                            <li>
                                <%= msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <% } %>