<% if (title) { %>
  <h1><%= title %></h1>
<% } %>

<% if (errors) { %>
  <ul class="notice">
    <% errors.forEach(function(error) { %>
       <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%- vehicleDetail %>